.bodyStyle{
    margin: 0;
}

.header{
    background-color: black;
    padding: 1em;
}
.logo a img {
    width: 7em;
}
.navigation{
    position: absolute;
    top: 0;
    right: 0;
}
.nav-menu li{
    display: inline;
    margin: 1em;
}

.nav-menu li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.book_btn{
    border: 1px solid;
    color: white;
    padding: 5px;
}
.book_btn1{
    border: 1px solid;
    /* color: white; */
    padding: 5px;
    background-color: #0073dc;
    border-radius: 3px;
    margin: 5px;
}