.main{
    margin: 0;
}
.navbar{
    background-color: orange;
    padding: 1em;
}
.sideMenu{
    display: none;
    height: 100%;
    background-color: #6666;
    width: min-content;
    padding: 1em 3em 1em 1em;
    align-items: center;
}
.navbar img{
    width: 120px;
}
.menu-icon{
    width: 30px !important;
    margin-right: 5px;
}
.navbar:hover + .sideMenu{
    display: block;
}
.sideMenu a{
    line-height: 2em;
    font-weight: bold;
}
.sideMenu:hover + .sideMenu{
display: block
}